<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Help Page</title>
<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>

<div class="main-content">
    {{>header}}

</div>

<img class="main-img" src="https://cdn.vox-cdn.com/thumbor/W6YyHkPAoXd8VGz2OGMjqkWWM7E=/0x0:2370x1574/1400x1400/filters:focal(1185x787:1186x788)/cdn.vox-cdn.com/uploads/chorus_asset/file/20103707/Screen_Shot_2020_07_21_at_9.38.25_AM.png" alt="">
{{>footer}}

</body>
</html>